<html>
  <head>
    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
    <style>
      .aframebox {
          height: 300px;
          width: 500px;
        }
    </style>
  </head>
  <body>
    <a-scene class="aframebox_" embedded>
        
      <!--a-entity camera position="5.281 3.031 0"  rotation="-32.66317798481797 60.24937694698171 0" ></a-entity -->
      <a-camera position="0 3 7.5" rotation="30 60"></a-camera>
        <a-assets>
            <img id="sky" src="sky_.jpg">
          </a-assets>
      <a-box
      position="-1 0.5 0"
      rotation="0 45 0"
      color="#4CC3D9"
      shadow="cast: true">
    </a-box>

    <a-sphere
      position="0 0.932 -2"
      radius="1.25"
      color="#EF2D5E"
      shadow="cast: true">
    </a-sphere>

    <a-cylinder
      position="1 0.75 0"
      radius="0.5"
      height="1.5"
      color="#FFC65D"
      shadow="cast: true">
    </a-cylinder>

    <a-plane
      position="0 0 -4"
      rotation="-90 0 0"
      width="1000"
      height="1000"
      color="#7BC8A4"
      shadow="receive: true"
      roughness="1">
    </a-plane>
      <a-sky src="#sky"></a-sky>
      
      <!---->
      <!--a-entity light="color: #333; type: ambient"></a-entity-->
      
      <a-entity light="color: #333; castShadow: true; type: spot; angle: 45; intensity: 0.3" intensity="5" position="-7.50399 5 0" rotation="-38.50219087499619 -90.00021045914971 90.00021045914971"></a-entity>
      <a-entity light="color: #333; castShadow: true; type: spot; angle: 45; intensity: 0.2" intensity="5" position="7.50399 5 0" rotation="-38.50219087499619 90.00021045914971 90.00021045914971"></a-entity>
      <a-entity light="color: #333; castShadow: true; type: spot; angle: 45; intensity: 0.2" intensity="5" position="0 5 -7.50399" rotation="-38.50219087499619 180 90.00021045914971"></a-entity>
      <a-entity light="color: #333; castShadow: true; type: spot; angle: 45; intensity: 0.4" intensity="5" position="0 5 7.50399" rotation="0 0 -38.50219087499619"></a-entity>

      <a-entity light="color: #333; castShadow: true; type: point; angle: 45; distance: 30" intensity="5" position="28.48451 7.13165 -25.08598" rotation="0 0 -38.502"></a-entity>
      <a-entity light="color: #333; castShadow: true; type: point; angle: 45; distance: 30" intensity="5" position="-28.48451 7.13165 -25.08598" rotation="0 0 -38.502"></a-entity>
      <a-entity light="color: #333; castShadow: true; type: point; angle: 45; distance: 30" intensity="5" position="0 7.13165 -55.08598" rotation="0 0 -38.502"></a-entity>
      <!-- a-entity light="intensity: 0.2; castShadow: true; type:point" position="-1.5 1 -1"></a-entity -->



      <!---->
      
      
    </a-scene>
  </body>
</html>